@font-face {
    font-family: Poppins;
    src: url(./assets/fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Poppins-bold;
    src: url(./assets/fonts/Poppins-Bold.ttf);
}
@font-face {
    font-family: Poppins-bolditalic;
    src: url(/assets/fonts/Poppins-BoldItalic.ttf);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 36%, 66%); }

body {
    background-color: rgb(30, 36, 48);
    color:rgb(223, 231, 231);
    font-family:'Poppins';
}
.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card {
    background-color: hsl(0, 100%, 100%);
    color: hsl(0, 0%, 0%);
    width: 300px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 0.5rem 0.5rem 2.75rem 0.5rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}
.date-selection {
    display: flex;
    flex-direction: row;
    margin-left: 1.25rem;
    padding-top: 0.75rem;
}

.date-box {
    display: flex;
    flex-direction: column;
}
label {
    font-size: 0.55rem;
    font-family: poppins-bold;
    font-size: 0.4rem;
    color: hsl(0, 1%, 44%);
    letter-spacing: 1.25px;
}
input {
    width: 65%;
    border: solid 1px  hsl(0, 0%, 94%);
    font-family: Poppins-bold;
    color: hsl(0, 0%, 0%);
    border-radius: 0.25rem;
    padding: 0.35rem 0.4rem;
}
.break {
    display: flex;
    align-items: center;
    margin-left: 1.25rem;
}
.break hr {
    flex-grow: 1;
    height: 1px;
    width: 225px;
    border: none;
    background-color: hsl(0, 0%, 94%);
}
.arrow-icon {
    background-color: hsl(259, 100%, 65%);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-icon img {
    width: 50%;
    height: 50%;
}
h1 {
    margin: 0;
    padding: 0;
    font-family: Poppins-bolditalic;
    font-size: 1.75rem;
    line-height: 1.1;
}
span {
    color: hsl(259, 100%, 65%);
    font-size: 1.95rem;
}
.display-age {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 1.25rem;
}
.output {
    margin: 0 0.2rem;
}



/* hover state */
input:hover {
    cursor: pointer;
}

/* transition */
.output {
    display: inline-block;
    transition: transform 0.6s ease;
    transform-origin: bottom;
}

/* mobile ver */
@media (max-width: 400px) {
    .card {
        width: 240px;
        height: 300px;
    }
    .break {
        padding: 2rem 0;
    }
    .break hr {
        width: 200px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .arrow-icon  {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    span {
        font-size: 2.7rem;
    }
    h1 {
        font-size: 2.5rem;
    }


}
